body
{
background-color:grey
}
{

#section1
{
width:800px
height:400px
background-color:green;
float:left;
}

#section2
{
width:800px
height:200px
background-color:green;
float:right;
}
